//
   Created by Phi on 2/8/2015.
extends ../layout
block content
    nav(class="navbar navbar-default navbar-fixed-top")
        div(class="container")
            ul(class="nav navbar-nav")
                li()
                    a(href='/admin') Trang chủ
                li(class="active")
                    a(href='/admin/add/subject') Chỉnh sửa môn học
                li()
                    a(href='/admin/add/teacher') Thông tin giảng viên
                li()
                    a(href='/admin/add/class') Chỉnh sửa lớp học
                li()
                    a(href='/admin/add/student') Thông tin sinh viên
            ul.nav.navbar-nav.navbar-right
                li
                    a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-expanded="false") Xin chào #{ad}!
                        span(class="caret")
                    ul(class="dropdown-menu" role="menu")
                        li
                            a(href='/logout') Thoát ra
    br
    h1 Thêm môn học
    h2 #{rp}
    div.containter
        div.col-sm-6.col-md-6
            form(method="post",action="",name="add_class")
                div.form-group
                    label
                        |Mã môn
                    input.form-control(name="ma_mon",type="text", placeholder="INT...")
                div.form-group
                    label
                        |Tên môn
                    input.form-control(name="ten_mon", type="text", placeholder="Lập trình nâng cao")
                div.form-group
                    label
                        |Khoa
                    input.form-control(name="khoa", type="text", placeholder="Công nghệ thônng tin")
                div.form-group
                    label
                        |Tín chỉ
                    input.form-control(name="tin_chi", type="number", placeholder="2")
                div.form-group
                    label Mô tả
                    textarea.form-control(name="mo_ta",placeholder="...",rows="3")
                div.form-group
                    input.btn.btn-default(name="add_submit", type="submit", value="Tạo môn")