//
   Created by Phi on 2/7/2015.
extends ../layout
block content
    div.container
        h1
            center Xin chào. Mời bạn đăng nhập để làm việc.
        form.col-sm-4.col-md-4.col-md-offset-4(method="post", action="", name="login_form")
            div.input-group.form-group
                span.input-group-addon
                    span.glyphicon.glyphicon-user
                input#username.form-control(placeholder="Tài khoản",name="user", type="text")
            div.input-group.form-group
                span.input-group-addon
                    span.glyphicon.glyphicon-lock
                input#password.form-control(placeholder="Mật khẩu",name="pass", type="password")
            input#login.btn.btn-default.right-block(name="login", type="submit", value="Đăng nhập")
        | #{Log_rp}