//
   Created by Phi on 3/16/2015.
center
    ul.pagination(ng-app='pagination')
        li(ng-click='Prev()')
            a(href='') «
        li(ng-init='page_num=1;page_show=1',class='{{active1}}',ng-show='hasPrevPages(page_show+1)')
            a(href='',ng-click='setPage(page_show);', ng-bind='page_show', ng-model='page_num')
        li(ng-click='page_active(page_show+1)',class='{{active2}}',ng-show='hasPrevPages(page_show+2)')
            a(href='',ng-click='setPage(page_show+1);', ng-bind='page_show+1')
        li(ng-click='setPage(page_show+2)',class='{{active3}}',ng-show='hasPrevPages(page_show+3)')
            a(href='', ng-bind='page_show+2')
        li(ng-click='setPage(page_show+3)',class='{{active4}}',ng-show='hasNextPages(page_show+1)')
            a(href='', ng-bind='page_show+3')
        li(ng-click='setPage(page_show+4)',class='{{active5}}',ng-show='hasNextPages(page_show+2)')
            a(href='', ng-bind='page_show+4')
        li(ng-click='Next()')
            a(href='') »
