//
   Created by Phi on 2/8/2015.
extends ../layout
block content
    div.container
        nav(class="navbar navbar-default navbar-fixed-top")
            div.container
                ul(class="nav navbar-nav")
                    li()
                        a(href='/admin') Trang chủ
                    li()
                        a(href='/admin/subject') Môn học
                    li()
                        a(href='/admin/teacher') Giảng viên
                    li()
                        a(href='/admin/class') Lớp học
                    li(class="active")
                        a(href='/admin/student') Sinh viên
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-expanded="false") Xin chào #{ad}!
                            span(class="caret")
                        ul(class="dropdown-menu" role="menu")
                            li
                                a(href='/logout') Thoát ra
        br
        h1 Tạo Thông Tin Sinh Viên
        div.containter
            div.col-sm-6.col-md-6
                form(method="post",action="",name="add_student")
                    div.form-group
                        label
                            |Mã sinh viên
                        input.form-control(name="ma_sinh_vien",type="text", placeholder="12345678")
                    div.form-group
                        label
                            |Họ tên
                        input.form-control(name="ho_va_ten",type="text", placeholder="Lâu Văn La")
                    div.input-group.form-group
                        span.input-group-addon
                            | K
                        input.form-control(name="khoa_nam_hoc", type="number", value="57")
                        span.input-group-addon -
                        input.form-control(name="lop_khoa_hoc", type="text", placeholder="Lớp")
                    div.form-group
                        label.radio-inline
                            input#Male(name="gioi_tinh", type="radio", value="M",checked)
                            |Nam
                        label.radio-inline
                            input#FeMale(name="gioi_tinh", type="radio",value="F")
                            |Nữ
                    div.form-group
                        label
                            |Tài khoản
                        input.form-control(name="tai_khoan", type="text", placeholder="anocdovo")
                    div.form-group
                        label
                            |Email
                        input.form-control(name="email", type="email", placeholder="lauvanla@vnu.edu.vn")
                    div.form-group
                        label
                            |Mật khẩu
                        input.form-control(name="mat_khau", type="password", placeholder="*****")
                    div.form-group
                        input.btn.btn-default(name="add_submit", type="submit", value="Tạo sinh viên")