//
   Created by Phi on 1/30/2015.
extends layout
block content
    nav(class="navbar navbar-default navbar-fixed-top")
        div.container-fluid
            ul(class="nav navbar-nav")
                li()
                    a(href='/users') Trang chủ
                li(class="active")
                    a(href='/evaluation') Đánh giá môn học
            ul.nav.navbar-nav.navbar-right
                li
                    a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-expanded="false") Xin chào #{user}!
                        span(class="caret")
                    ul(class="dropdown-menu" role="menu")
                        li
                            a(href='/logout') Thoát ra
    br
    div.container
        #{Rp_Form}
        form(method="post" name="danhgia")
            table#info
                tr
                    td(colspan='2')
                        center ĐẠI HỌC QUỐC GIA HÀ NỘI
                        center TRƯỜNG ĐẠI HỌC CÔNG NGHỆ
                        hr
                    td(colspan='3')
                        center PHIẾU ĐÁNH GIÁ MÔN HỌC
                        center Học kỳ II - Năm học 2010-2011
                        hr
                tr
                    td(colspan='2')
                        | Thông tin cá nhân( bắt buộc):
                    td
                        | Mã môn học
                    td
                        | Mã lớp
                    td
                        | Mã giảng viên
                tr
                    td
                        | Môn học:
                    td
                        input#subject(name='subject', type='text', placeholder='môn học')
                    td
                        input#subject_ID(name='sub_id', type='text', placeholder='mã môn học')
                    td
                        input#class_ID(name='cla_id', type='text', placeholder='mã lớp')
                    td
                        input#teacher_ID(name='tea_id' type='text', placeholder='mã giảng viên')
                tr
                    td
                        | Lớp/ Nhóm:
                    td
                        input#class_Name(name='cla_name', type='text', placeholder='tên lớp')
                tr
                    td
                        | Giảng viên:
                    td
                        input#teacher_Name(name='tea_name', type='text', placeholder='Giảng Viên')
                tr
                    td
                        | Sinh viên( không bắt buộc)
                    td
                        input#student_Name(name='stu_name', type='text', placeholder='Sinh viên( không bắt buộc)')
                tr
                    td
                        | Ngày khảo sát
                    td
                        input#date(name='date',type='date', placeholder='Ngày khảo sát')
                tr
                    td
                        p (SV hoàn thành các nội dung trên sau đó
                        p tô kín vào các ô của mã số tương ứng)
            p Bạn dùng 1 trong 5 mức đánh giá sau để trả lời các câu hỏi từ 1 đến 23, tô kín ô được lựa chọn:
            p Các mức: 1: Hoàn toàn không đồng ý; 2: Cơ bản không đồng ý; 3: Đồng ý một phần; 4: Cơ bản đồng ý; 5: Hoàn toàn đồng ý

            table#evuluation(border='')
                tr
                    td(colspan='2')
                        | Nội dung đánh giá
                    td(colspan='5')
                        | Trả lời

                each nb_qs,value in {1:'Giảng đường đáp ứng nhu cầu của môn học.',2:'Các thiết bị tại giảng đường đáp ứng nhu cầu giảng dạy và học tập.',3:'Bạn được tư vấn và hỗ trợ kịp thời về phương pháp học tập trong quá trình học.',4:'Mục tiêu của môn học nêu rõ những kiến thức, kĩ năng, thái độ SV cần đạt được.',5:'Thời lượng môn học được phân bổ hợp lí cho các hình thức học tập (lí thuyết, bài tập, thực hành, tự học,...).',6:'Đề cương môn học, các tài liệu giảng dạy được phổ biến cho SV',7:'Môn học cung cấp cho bạn những kiến thức cần thiết.',8:'Môn học giúp bạn phát triển kĩ năng tự học và làm việc độc lập.',9:'Thời lượng (số tiết) của môn học là phù hợp.',10:'Giảng viên có phương pháp truyền đạt rõ ràng, dễ hiểu.',11:' Giảng viên đưa ra các hoạt động (hoặc các bài tập, thí nghiệm) đòi hỏi tính sáng tạo của bạn trong quá trình học tập.',12:'Giảng viên tạo cơ hội để bạn chủ động tham gia vào quá trình học trong và ngoài lớp. ',13:'Giảng viên rèn luyện cho bạn cách liên hệ thực tiễn với nội dung môn học.',14:'Giảng viên sử dụng hiệu quả phương tiện dạy học. ',15:'Giảng viên quan tâm đến giáo dục đạo đức, ý thức tổ chức kỷ luật cho người học. ',16:'GV thường xuyên lên lớp đúng kế hoạch giảng dạy (nghỉ học có báo trước và có học bù).',17:'Có sự thống nhất giữa mục tiêu của môn học và những điều GV giảng ở trên lớp.',18:'Giảng viên thể hiện tính chuẩn mực trong tác phong nhà giáo.',19:'Bạn có được thông báo hình thức, thời gian kiểm tra, đánh giá kết quả môn học ngay từ khi bắt đầu môn học.',20:'Kết quả học tập của sinh viên được đánh giá bằng nhiều hình thức khác nhau.',21:'Các bài tập, bài kiểm tra của bạn được GV nhận xét/đánh giá rõ ràng chính xác. ',22:'Điểm kiểm tra đánh giá thường xuyên và giữa kì được GV công bố kịp thời',23:'Thông tin phản hồi từ kiểm tra/đánh giá giúp bạn cải thiện kết quả học tập.'}
                    +print_question(nb_qs,value)

            mixin print_question(question,stt)
                tr
                    td
                        =stt
                    td
                        =question
                    td
                        |1
                        input(type='radio', name='q'+stt, value='1')
                    td
                        |2
                        input(type='radio', name='q'+stt, value='2')
                    td
                        |3
                        input(type='radio', name='q'+stt, value='3')
                    td
                        |4
                        input(type='radio', name='q'+stt, value='4')
                    td
                        |5
                        input(type='radio' name='q'+stt, value='5')
            |Nếu bạn có ý kiến đóng góp khác, thì tô kín vào ô số 1, sau đó ghi ở dưới đây:
            br
            textarea(name='comment' rows='4' cols='120')
            br
            center Cám ơn những ý kiến đóng góp quý báu của bạn!
            input(type="submit", name="submit_form", value="gửi đi")