extends layout

block content

  script(src="javascripts/index.js")
  nav(class="navbar navbar-default navbar-fixed-top")
    div.container
      ul(class="nav navbar-nav")
          a.navbar-brand
            img(src="images/logo.png")

      form.navbar-form.navbar-right.form-inline(method="post", action="", name="login_form")
          div.input-group.form-group
              span.input-group-addon
                  span.glyphicon.glyphicon-user
              input#username.form-control(placeholder="Tài khoản",name="username", type="text")
          div.input-group.form-group
              span.input-group-addon
                  span.glyphicon.glyphicon-lock
              input#password.form-control(placeholder="Mật khẩu",name="password", type="password")
          input#login.btn.btn-default(name="login", type="submit", value="Đăng nhập")

  div.container

      br
      div.col-sm-6.col-md-6
          br
          br
      div.col-sm-6.col-md-6
          br
          div.register_form
              div.form-group
                  h2(style="color:red;") #{Reg_rp}
                  h1 Đăng Ký


              form(method="post", action="/", name="reg_form" , ng-app = "myApp" , ng-controller="myCtrl")
                  div.input-group.form-group
                      span.input-group-addon
                          span.glyphicon.glyphicon-barcode
                      input.form-control(name="std_id",id = "msv" , maxlength= 8 ,type="text", placeholder="Mã sinh viên" , ng-blur = "check_MSV()" , ng-model="msv")

                  p {{checkMSV}}
                  div.input-group.form-group
                      span.input-group-addon
                          span.glyphicon.glyphicon-education
                      input.form-control(name="std_name",id = "name" , type="text",disabled , placeholder="Họ tên" , ng-model="name")
                  div.input-group.form-group
                      span.input-group-addon
                          span.glyphicon.glyphicon-book
                      input.form-control(name="std_grade",id = "lop" type="text",disabled, placeholder="Lớp khóa học" , ng-model="lop")
                  div.input-group.form-group
                      span.input-group-addon
                          span.glyphicon.glyphicon-user
                      input.form-control(name="reg_user", type="text", placeholder="Tài khoản mới")
                  div.input-group.form-group
                      span.input-group-addon
                          span.glyphicon.glyphicon-envelope
                      input.form-control(name="reg_email", type="email", placeholder="Email"  )

                  div.input-group.form-group
                      span.input-group-addon
                          span.glyphicon.glyphicon-lock
                      input.form-control(name="reg_pass", type="password", placeholder="Mật khẩu" , ng-blur="check_pass()" , ng-model="pass")
                  p {{checkPass}}

                  div.input-group.form-group
                      label.radio-inline
                            input#Male(name="sex", type="radio", value="nam",checked)
                            |Nam
                      label.radio-inline
                            input#FeMale(name="sex", type="radio",value="nữ")
                            |Nữ
                  div.input-group.form-group
                    input.btn.btn-default(name="register", type="submit", value="Đăng ký" , ng-disabled="isDisabled")