//
   Created by PHI on 4/10/2015.

doctype html
html(lang='en')
   head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      title forUET
      // Google Font
      link(href='https://fonts.googleapis.com/css?family=Patrick+Hand+SC&subset=latin,vietnamese', rel='stylesheet', type='text/css')
      link(href='https://fonts.googleapis.com/css?family=Roboto:500&subset=latin,vietnamese', rel='stylesheet', type='text/css')
      // Font Awesome
      link(rel='stylesheet', href='/stylesheets/font-awesome.css')
      // Preloader
      link(rel='stylesheet', href='/stylesheets/preloader.css', type='text/css', media='screen, print')
      // Icon Font
      link(rel='stylesheet', href='/stylesheets/owl.carousel.css')
      link(rel='stylesheet', href='/stylesheets/owl.theme.default.css')
      // Favicon
      link(rel="icon", href="/favicon.ico")
      // Animate CSS
      link(rel='stylesheet', href='/stylesheets/animate.css')
      // Bootstrap
      link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
      link(href='/stylesheets/style2.css', rel='stylesheet', type='text/css')
      // Style
      //link(href='stylesheets/style.css', rel='stylesheet')
      // Responsive CSS
      link(href='/stylesheets/responsive.css', rel='stylesheet')
      // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
      // WARNING: Respond.js doesn't work if you view the page via file://
      //if lt IE 9
        script(src='js/lte-ie7.js')
        script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
        script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
   body.main(ng-app = "myApp")
      // Preloader
      #preloader
         #status  
      header#HOME(style='background-position: 50% -125px;')
         .section_overlay
            nav.navbar.navbar-default.navbar-fixed-top
               .container
                  // Brand and toggle get grouped for better mobile display
                  .navbar-header
                     button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                     a.navbar-brand(href='#')
                        img(src='images/logo.png', alt='')
                  // Collect the nav links, forms, and other content for toggling
                  #bs-example-navbar-collapse-1.collapse.navbar-collapse
                     ul.nav.navbar-nav.navbar-right
                        li
                           a(href='#HOME') TRANG CHỦ
                        li
                           a(href='#SERVICE') ĐỘI NGŨ
                        li
                           a(href='#opinion') Ý kiến
                        li
                           a(href='#WORK') Tương lai
                        li
                           a(href='#CONTACT') Liên hệ
                        li
                           a#login-trigger Đăng nhập
                           #login-content
                              form(action="/" method="POST")
                                 fieldset.inputs
                                    input.username.form-control(type='text', name='username', placeholder='Tài khoản', required='')
                                    input.password.form-control(type='password', name='password', placeholder='Mật khẩu', required='')
                                 fieldset.actions
                                    input.submit.btn.btn-default(type='submit', value='Đăng nhập')
                                    label
                                       input(type='checkbox', checked='checked')
                                       |  Giữ tôi luôn đăng nhập
                        li
                           a#register-trigger Đăng ký
                           #register-content
                              form(action="/", method="POST" , ng-controller="myCtrl")
                                 fieldset
                                    span #{Reg_rp}
                                    input.form-control(name="std_id",id = "msv" , maxlength= 8 ,type="text", placeholder="Mã sinh viên" , ng-blur = "check_MSV()" , ng-model="msv",autocomplete="off")
                                    span {{checkMSV}}
                                    input.form-control(name="std_name",id = "name" , type="text",disabled , placeholder="Họ tên" , ng-model="name",autocomplete="off")
                                    input.form-control(name="std_grade",id = "lop" type="text",disabled, placeholder="Lớp khóa học" , ng-model="lop",autocomplete="off")
                                    input.form-control(name="reg_user", type="text", placeholder="Tài khoản mới",autocomplete="off")
                                    input.form-control(name="reg_email", type="email", placeholder="Email"  ,autocomplete="off")
                                    input.form-control(name="reg_pass", type="password", placeholder="Mật khẩu" , ng-blur="check_pass()" , ng-model="pass",autocomplete="off")
                                    span(class = "form-control ng-valid ng-dirty ng-valid-parse ng-touched") {{checkPass}}
                                    .form-group
                                       label.radio-inline
                                           input#Male(name="sex", type="radio", value="nam",checked)
                                           |Nam
                                       label.radio-inline
                                          input#FeMale(name="sex", type="radio",value="nữ")
                                          |Nữ
                                 fieldset
                                    input.submit.btn.btn-default(type='submit', value='Đăng ký')
            .container
               .row
                  .col-md-12.text-center
                     .home_text.wow.fadeInUp.animated
                        h2 CHÚNG TÔI LÀ SINH VIÊN CÔNG NGHỆ
                        p và ứng dụng hỗ trợ đánh giá môn học
                        img(src='images/shape.png', alt='')
            .container
               .row
                  .col-md-12.text-center
                     .scroll_down
                        a(href='#SERVICE')
                           img(src='images/scroll.png', alt='')
                        h4 Scroll Down
      section#SERVICE.services
         .container
            .row
               .col-md-3.text-center
                  .single_service.wow.fadeInUp(data-wow-delay='1s')
                     i.icon-pencil
                     h2 Thiết Kế
                     p Template Online.
               .col-md-3.text-center
                  .single_service.wow.fadeInUp(data-wow-delay='2s')
                     i.icon-gears
                     h2 Phát triển
                     p Xây dựng ứng dụng web và android.
               .col-md-3.text-center
                  .single_service.wow.fadeInUp(data-wow-delay='3s')
                     i.icon-camera
                     h2 Hình ảnh
                     p Thu thập từ nhiều nguồn khác nhau.
               .col-md-3.text-center
                  .single_service.wow.fadeInUp(data-wow-delay='4s')
                     i.icon-magnifying-glass
                     h2 Seo
                     p Hiện đang tìm kiếm.
      section#ABOUT.about_us_area
         .container
            .row
               .col-md-12.text-center
                  .about_title
                     h2 Về chúng tôi
                     img(src='images/shape.png', alt='')
         .container
            .row
               .col-md-4.wow.fadeInLeft.animated
                  .single_progress_bar
                     h2 Thành Công - 10%
                     .progress
                        .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 10%;')
                           span.sr-only 10% Complete
                  .single_progress_bar
                     h2 Nổi tiếng - 10%
                     .progress
                        .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 10%;')
                           span.sr-only 10% Complete
                  .single_progress_bar
                     h2 Chém gió - 100%
                     .progress
                        .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 100%;')
                           span.sr-only 100% Complete
                  .single_progress_bar
                     h2 Nguy hiểm - 95%
                     .progress
                        .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 95%;')
                           span.sr-only 95% Complete
               .col-md-4.wow.fadeInRight.animated
                  p.about_us_p
                     | Phát triển từ nhiều thành viên yếu kém và giàu thành tích học lại cũng như nợ môn. Ngoài ra cũng có vài thành viên nổi trội và không xuất sắc cho lắm.
               .col-md-4.wow.fadeInRight.animated
                  p.about_us_p
                     | Quá trình phát triển từ đầu học kì II năm học 2014-2015. Dự kiến sẽ hoàn thành vào cuối kì học.
      section#opinion.testimonial.text-center.wow.fadeInUp.animated
         .container
            .icon
               i.icon-quote
            .owl-carousel
               .single_testimonial.text-center.wow.fadeInUp.animated
                  p
                     | Chưa có gì để đánh giá tốt hay không?
                     br
                     |  Đừng quan tâm nhiều quá. Cố gắng lên!
                  h4 -Giấu tên
               .single_testimonial.text-center
                  p Cố gắng lên các bạn. Chúng ta sẽ thành công!
                  h4 - Leader
      .fun_facts
         section#fun_facts.header.parallax.home-parallax.page(style='background-position: 50% -150px;')
            .section_overlay
               .container
                  .row
                     .col-md-6.wow.fadeInLeft.animated
                        .row
                           .col-md-4
                              .single_count
                                 i.icon-toolbox
                                 h3 2378
                                 p Thông tin sinh viên
                           .col-md-4
                              .single_count
                                 i.icon-clock
                                 h3 2700+
                                 p Giờ cố gắng và quyết tâm
                           .col-md-4
                              .single_count
                                 i.icon-trophy
                                 h3 0
                                 p Thành tựu đạt được
                     .col-md-5.col-md-offset-1.wow.fadeInRight.animated
      section#WORK.work_area
         .container
            .row
               .col-md-12.text-center
                  .work_title.wow.fadeInUp.animated
                     h1 Mục tiêu tương lai
                     img(src='images/shape.png', alt='')
                     p
                        | Xây dựng thêm những phần mềm hữu ích. Và tiếp tục nuôi dưỡng những ý tưởng thực tế mà điên rồ! :D
         .container-fluid
            .row
               .col-md-4.no_padding
                  .single_image
                     img(src='images/w1.png', alt='')
                     .image_overlay
                        a(href='') View Full Project
                        h2 UET PROJECT
                        h4 Chưa khởi công
               .col-md-4.no_padding
                  .single_image
                     img(src='images/w2.jpg', alt='')
                     .image_overlay
                        a(href='') View Full Project
                        h2 UET VIRTUAL
                        h4 Chưa khởi công
               .col-md-4.no_padding
                  .single_image
                     img(src='images/w3.jpg', alt='')
                     .image_overlay
                        a(href='') View Full Project
                        h2 AND MORE
                        h4 Chưa khởi công
      section.call_to_action
         .container
            .row
               .col-md-8.wow.fadeInLeft.animated
                  .left
                     h2 Có gì thắc mắc hãy liên hệ với chúng tôi?
                     p
                        | Chúng tôi luôn mong chờ nhận được những ý kiến của bạn. Nếu có ý tưởng, ý kiến, hoặc phản ánh hãy mail hoặc liên hệ với chúng tôi ngay nhé!
               .col-md-3.col-md-offset-1.wow.fadeInRight.animated
                  .baton
                     a(href='#CONTACT')
                        button.btn.btn-primary.cs-btn(type='button') Liên hệ
      section#CONTACT.contact
         .container
            .row
               .col-md-12.text-center
                  .contact_title.wow.fadeInUp.animated
                     h1 liên lạc
                     img(src='images/shape.png', alt='')
                     p
                        | Hệ thống mail sẽ chờ bạn 24/24. Còn điện thoại thì khi nào có thể thôi nhé.
                        br
                        |  Nếu gặp được trực tiếp thì còn gì hay hơn. :D
         .container
            .row
               .col-md-3.wow.fadeInLeft.animated
                  .single_contact_info
                     h2 SĐT
                     p 0165 977 23XX
                  .single_contact_info
                     h2 Email
                     p admin@4uet.com
                  .single_contact_info
                     h2 Địa chỉ
                     p Nhà G2, Đại học Công Nghệ
               .col-md-9.wow.fadeInRight.animated
                  form.contact-form(action='')
                     .row
                        .col-md-6
                           input#name.form-control(type='text', placeholder='Name')
                           input#email.form-control(type='email', placeholder='Email')
                           input#subject.form-control(type='text', placeholder='Subject')
                        .col-md-6
                           textarea#message.form-control(rows='25', cols='10', placeholder='  Message Texts...')
                           button.btn.btn-default.submit-btn.form_submit(type='button') GỬI THƯ
         .container
            .row
               .col-md-12.text-center
                  .work-with.wow.fadeInUp.animated
                     h3 Chúng tôi mong chờ phản hồi từ bạn!
      footer
         .container
            .container
               .row
                  .col-md-12.text-center
                     .footer_logo.wow.fadeInUp.animated
                        img(src='images/logo.png', alt='')
            .container
               .row
                  .col-md-12.text-center.wow.fadeInUp.animated
                     .social
                        h2 Theo dõi chúng tôi tại
                        ul.icon_list
                           li
                              a(href='https://www.facebook.com/foruet', target='_blank')
                                 i.fa.fa-facebook
                           li
                              a(href='', target='_blank')
                                 i.fa.fa-twitter
                           li
                              a(href='')
                                 i.fa.fa-google-plus
                           li
                              a(href='')
                                 i.fa.fa-linkedin
                           li
                              a(href='', target='_blank')
                                 i.fa.fa-dribbble
            .container
               .row
                  .col-md-12.text-center
                     .copyright_text.wow.fadeInUp.animated
                        p
                           | © 4UET 2015.All Right Reserved By
                           a(href='http://www.4uet.com', target='_blank')  FAILED TEAM
                        p We love code.
      //
        =========================
        SCRIPTS
        ==============================
      script(src='/javascripts/angular.js')
      script(src='/javascripts/jquery.min.js')
      script(src='/javascripts/bootstrap.min.js')
      script(src='/javascripts/jquery.nicescroll.js')
      script(src='/javascripts/owl.carousel.js')
      script(src='/javascripts/wow.js')
      script(src='/javascripts/script.js')
      script(src='/javascripts/index.js')
      script.
         $(document).ready(function () {
            $('#login-trigger').click(function () {
               if ($('#register-trigger').hasClass('active')) {
                  $('#register-trigger').next('#register-content').slideToggle();
                  $('#register-trigger').removeClass('active');
               }
               $(this).next('#login-content').slideToggle();
               $(this).toggleClass('active');
               if ($(this).hasClass('active')) $(this).find('span').html('&#x25B2;')
               else $(this).find('span').html('&#x25BC;')
            });
            $('#register-trigger').click(function(){
               if ($('#login-trigger').hasClass('active')) {
                  $('#login-trigger').next('#login-content').slideToggle();
                  $('#login-trigger').removeClass('active');
               }
               $(this).next('#register-content').slideToggle();
               $(this).toggleClass('active');
               if($(this).hasClass('active')) $(this).find('span').html('&#x25B2;');
               else $(this).find('span').html('&#x25B2;');
            })
         });