doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title forUET
    // Google Font
    link(href='https://fonts.googleapis.com/css?family=Patrick+Hand+SC&subset=latin,vietnamese', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:500&subset=latin,vietnamese', rel='stylesheet', type='text/css')
    // Font Awesome
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    // Preloader
    link(rel='stylesheet', href='/stylesheets/preloader.css', type='text/css', media='screen, print')
    // Icon Font
    link(rel='stylesheet', href='/stylesheets/owl.carousel.css')
    link(rel='stylesheet', href='/stylesheets/owl.theme.default.css')
    // Favicon
    link(rel="icon", href="/favicon.ico")
    // Animate CSS
    link(rel='stylesheet', href='/stylesheets/animate.css')
    // Bootstrap
    link(href='/stylesheets/bootstrap.css', rel='stylesheet')
    link(href='/stylesheets/style2.css', rel='stylesheet', type='text/css')
    // Style
    //link(href='stylesheets/style.css', rel='stylesheet')
    // Responsive CSS

    link(href='stylesheets/responsive.css', rel='stylesheet')
    link(href= "stylesheets/jquery-ui.css" , rel='stylesheet')

    link(href='/stylesheets/responsive.css', rel='stylesheet')

    link(href='/stylesheets/responsive.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='js/lte-ie7.js')
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    script(src="/javascripts/jquery-2.1.3.min.js")
    script( src="/javascripts/bootstrap.js")
    script(src="/javascripts/angular.js")
    script(src ="/javascripts/jquery-ui.js")
  body.main
    block content
