//
   Created by PHI on 1/28/2015.
extends ../layout
block content
    div.container
        nav(class="navbar navbar-default navbar-fixed-top")
            div(class="container")
                ul(class="nav navbar-nav")
                    li(class="active")
                        a(href='/users') Trang chủ
                    li()
                        a(href='/evaluation') Đánh giá môn học
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-expanded="false") Xin chào #{user}!
                            span(class="caret")
                        ul(class="dropdown-menu" role="menu")
                            li
                                a(href='/logout') Thoát ra
        br
        h2 Thời khóa biểu của bạn:
        div.container.timetable(ng-app="user", ng-controller="timetable")
            h3 Lớp thực hành
            ul(ng-repeat="practice in practices") {{practice.ten_mon}}
                li Mã lớp: {{practice.ma_lop}}
                li Nhóm: {{practice.ghi_chu}}
                li Thứ: {{practice.thu}}
                li Tiết: {{practice.tiet_bat_dau+'-'+ practice.tiet_ket_thuc}}
                li Giảng đường: {{ practice.giang_duong}}
            h3 Lớp lý thuyết
            ul(ng-repeat="theory in theories") {{theory.ten_mon}}
                li Mã lớp: {{theory.ma_lop}}
                li Nhóm: {{theory.ghi_chu}}
                li Thứ: {{theory.thu}}
                li Tiết: {{theory.tiet_bat_dau+'-'+ theory.tiet_ket_thuc}}
                li Giảng đường: {{ theory.giang_duong}}
        script(src="/javascripts/user.js").
