//
   Created by PHI on 1/28/2015.
extends ../layout
block content
    div.container
        nav(class="navbar navbar-default navbar-fixed-top")
            div(class="container")
                ul(class="nav navbar-nav")
                    li(class="active")
                        a(href='/users') Trang chủ
                    li()
                        a(href='/evaluation') Đánh giá môn học
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-expanded="false") Xin chào #{user}
                            span(class="caret")
                        ul(class="dropdown-menu" role="menu")
                            li
                                a(href='/logout') Thoát ra
        br




        h2 Thời khóa biểu của bạn:
        div.container.timetable(ng-app="user", ng-controller="timetable")


            table(border='1px solid black' align="center")
                tr
                    th Tiết
                    th Thứ 2
                    th Thứ 3
                    th Thứ 4
                    th Thứ 5
                    th Thứ 6
                    th Thứ 7
                   // th Chủ nhật
                tr
                    th 1
                    td(id="mon_1")
                    td(id="tue_1")
                    td(id="wed_1")
                    td(id="thu_1")
                    td(id="fri_1")
                    td(id="sat_1")
                    //td(id="sun_1")
                tr
                    th 2
                    td(id="mon_2")
                    td(id="tue_2")
                    td(id="wed_2")
                    td(id="thu_2")
                    td(id="fri_2")
                    td(id="sat_2")
                    //td(id="sun_2")
                tr
                    th 3
                    td(id="mon_3")
                    td(id="tue_3")
                    td(id="wed_3")
                    td(id="thu_3")
                    td(id="fri_3")
                    td(id="sat_3")
                    //td(id="sun_3")
                tr
                    th 4
                    td(id="mon_4")
                    td(id="tue_4")
                    td(id="wed_4")
                    td(id="thu_4")
                    td(id="fri_4")
                    td(id="sat_4")
                    //td(id="sun_4")
                tr
                    th 5
                    td(id="mon_5")
                    td(id="tue_5")
                    td(id="wed_5")
                    td(id="thu_5")
                    td(id="fri_5")
                    td(id="sat_5")
                    //td(id="sun_5")

                tr(style="outline : 3px")
                    th 6
                    td(id="mon_6")
                    td(id="tue_6")
                    td(id="wed_6")
                    td(id="thu_6")
                    td(id="fri_6")
                    td(id="sat_6")
                    //td(id="sun_6")
                tr
                    th 7
                    td(id="mon_7")
                    td(id="tue_7")
                    td(id="wed_7")
                    td(id="thu_7")
                    td(id="fri_7")
                    td(id="sat_7")
                    //td(id="sun_7")
                tr
                    th 8
                    td(id="mon_8")
                    td(id="tue_8")
                    td(id="wed_8")
                    td(id="thu_8")
                    td(id="fri_8")
                    td(id="sat_8")
                    //td(id="sun_8")
                tr
                    th 9
                    td(id="mon_9")
                    td(id="tue_9")
                    td(id="wed_9")
                    td(id="thu_9")
                    td(id="fri_9")
                    td(id="sat_9")
                    //td(id="sun_9")
                tr
                    th 10
                    td(id="mon_10")
                    td(id="tue_10")
                    td(id="wed_10")
                    td(id="thu_10")
                    td(id="fri_10")
                    td(id="sat_10")
                    //td(id="sun_10")
                tr
                    th 11
                    td(id="mon_11")
                    td(id="tue_11")
                    td(id="wed_11")
                    td(id="thu_11")
                    td(id="fri_11")
                    td(id="sat_11")
                    //td(id="sun_11")




        style(type='text/css').
            th,td{
                margin: 0;
                text-align: center;
                border-collapse: collapse;
                outline: 1px solid #e3e3e3;
            }
            td {
                width : 200px;
                padding: 5px 10px;
            }
            th
            {
                background: #5F7DDA;
                color: white;
                padding: 5px 10px;
            }
            body
            {
                color: #2D10B5 !important;
            }

        script(src="/javascripts/user.js").
